.Login form {
    text-align: center;
}

.Login form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.Login form label input {
    width: 30vw;
    margin: auto;
    font-size: 1.2em;
}

.Login form label p {
    text-transform: uppercase;
}