.NavBar {
    background-color: lightskyblue;
    color:white;
    
    
}

@media (max-width: 600px) {
    .NavBar ul {
        list-style: none;
        display: flex;
        margin: 5px 0px;
        padding: 0px;
        flex-direction: column;
    }
}

@media (min-width: 601px) {
    .NavBar ul {
        list-style: none;
        display: flex;
        margin: 5px 0px;
        padding: 0px;
        flex-wrap: wrap;
    }

    .NavBar ul li:last-child {
        margin-left: auto;
        margin-right: 0px;
    }
}

.NavBar ul li {
    margin-left: 0px;
    margin-right: 10px;
    padding: 5px 15px;
    
}

.NavBar ul li a {
    text-decoration: none;
    padding: 5px 15px;
    font-size: 24px;
}

.NavBar ul li a:hover {
    color: blue;
}

.NavBar ul li:hover {
    background-color: orange;
    
}

.active {
    color: white;
    font-weight: bold;
}
