.NavBar {
    background-color: lightskyblue;
    color:white;

    @media (max-width: 600px) {
        display: none;
    }
    
    ul {
        @media (max-width: 600px) {
            list-style: none;
            display: flex;
            margin: 5px 0px;
            padding: 0px;
            flex-direction: column;

        }

        @media (min-width: 601px) {
            list-style: none;
            display: flex;
            margin: 5px 0px;
            padding: 0px;
            flex-wrap: wrap;
    
            li:last-child {
                margin-left: auto;
                margin-right: 0px;
            }
        }

        li {
        margin-left: 0px;
        margin-right: 10px;
        padding: 5px 15px;

        &:hover {
            background-color: orange;
        }

        a {
            text-decoration: none;
            padding: 5px 15px;
            font-size: 24px;

            &:hover {
                color: blue;
            }
        }

        }
    }
    
}

.NavBarNarrow {
    background-color: lightskyblue;

    @media (min-width: 601px) {
        display: none;
    }

    i {
        margin-left: 20px;
        margin-top: 5px;
        padding-bottom: 3px;
    }
    i:hover {
        ~ .menu {
            display: block;
        }
    }

    .menu {
        padding: 5px 0px 0px 0px;
        display: none;
        background-color: white;
        ul {
            list-style: none;

            li a {
                text-decoration: none;
                font-size: 1.2rem;
            }
        }
        &:hover {
            display: block;
        }


    }
    .active {
        color: orange;
        font-weight: bold;
    }
}

.active {
    color: white;
    font-weight: bold;
}
