.AddProduct {
    text-align: center;
    padding-top: 50px;

    form label{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        color: darkblue;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 20px;

        input{
            margin-bottom: 10px;
        }

        span {
            margin-bottom: 10px;
            color: red;
        }

        p {
            padding-top: 30px;
        }
    }
}
