#submit-button {
   color: white;
   background-color: lightblue;
   border: 0;
   outline: 0;
   padding: 10px 20px;
   font-size: 1em;
   text-transform: uppercase; 
}

#submit-button:hover {
    background-color: blue;
}