@import './danger-btn.scss';
@import './primary-btn.scss';
@import './submit-btn.scss';

.btn {
    padding: 10px 25px;
    border: 0px;
    color: white;
    outline: 0;
    padding: 10px 20px;
    font-size: 1em;
    text-transform: uppercase; 
    border-radius: 5px;
    cursor: pointer;

    &:disabled {
        background-color: antiquewhite;
    }
}


