@import './danger-btn.css';
@import './primary-btn.css';
@import './submit-btn.css';

.btn {
    padding: 10px 25px;
    border: 0px;
    color: white;
    outline: 0;
    padding: 10px 20px;
    font-size: 1em;
    text-transform: uppercase; 
    border-radius: 5px;
}