@import './styles/nav-bar.css';
@import './styles/product.css';
@import './styles/login.css';
@import './styles/form-input.css';
@import './styles/buttons/btn.css';
@import './styles/cards-list.css';
@import './styles/card-form.css';
@import './styles/search-card.css';


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1024px;
  margin: auto;
}

section {
  margin-top: 50px;
}
