@import './styles/app.css';
@import './styles/nav-bar.css';
@import './styles/add-card.css';
@import './styles/product.css';
@import './styles/login.css';
@import './styles/submit-button.css';



body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 1024px;
  margin: auto;
}

section {
  margin-top: 50px;
}
