ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    max-width: 80vw;
    margin: 10px auto 20px auto;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li:last-child {
    float: right;
    color: red;
}

ul li a:hover {
    background-color: #111;
}

a.active {
    color: red;
}