input {
    display: block;
    margin:  10px auto 10px auto;
}
button {
    margin-bottom: 20px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    font-size: 16px;
    padding: 5px;
}